<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
    Add product Page
    </h1>
   </div>
   <form [formGroup]="myForm" *ngIf="_id == undefined"  novalidate (ngSubmit)="onSubmit()">
   <div class="container">
    
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <p><input formControlName="name" id=”name” placeholder="Your name"></p>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <p><input formControlName="description" id=”description” placeholder="Your description" ></p>
    </div>
    </div>
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
    <p><input formControlName="price" id=”price” type="number"
   placeholder="Your price" ></p>
   </div>
    </div>
    
    <div class="row">
        <div class="col-sm-6 col-sm-offset-3">
        <p><input formControlName="inStock" id = "inStock" type=”number”
        placeholder="inStock"  ></p>
         </div>
        </div>
        <!-- <div class="row">
            <div class="col-sm-6 col-sm-offset-3">
            <p><input formControlName="img" id = "img" type='file'
            placeholder="Your image" ></p>
             </div>
            </div> -->
            <div class="row">
                <div class="col-sm-6 col-sm-offset-3">
                <input type='file' #file accept='image/*' id='upload' (change)='preview(file.files,$event)'
                placeholder="Your image" class="btn btn-light">
            <div class="class-preview" *ngIf="imgURL">
                <img [src]="imgURL" height="250" width="250"/>
            </div>
            
                 </div>
                </div>
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <p><button class="btn btn-primary" type="submit"  >Add product</button> 
        <button class="btn btn-danger" type="button" (click)="resetDefault()">Reset to deafult</button> 
    </p>
    </div>
    </div>
   
   </div>
   </form>

   <form *ngIf="_id != undefined" [formGroup]="myForm"  novalidate (ngSubmit)="onSubmit2()">
    <p  >The product selected has title: {{posts.name}}</p>
    <div class="container">
     
     <div class="row">
     <div class="col-sm-6 col-sm-offset-3">
     <p><input formControlName="name" id=”name” placeholder="Your name"></p>
     </div>
     </div>
     <div class="row">
     <div class="col-sm-6 col-sm-offset-3">
     <p><input formControlName="description" id=”description” placeholder="Your description" ></p>
     </div>
     </div>
     <div class="row">
         <div class="col-sm-6 col-sm-offset-3">
     <p><input formControlName="price" id=”price” type="number"
    placeholder="Your price" ></p>
    </div>
     </div>
     
     <div class="row">
         <div class="col-sm-6 col-sm-offset-3">
         <p><input formControlName="inStock" id = "inStock" type=”number”
         placeholder="inStock"  ></p>
          </div>
         </div>
         <!-- <div class="row">
             <div class="col-sm-6 col-sm-offset-3">
             <p><input type='file' formControlName="img" id = "img"
             placeholder="Your image" ></p>
              </div>
             </div> -->
             <div class="row">
                <input type='file' #file accept='image/*' id='upload' (change)="preview(file.files,$event)" class="btn btn-light">
            <div class="class-preview" *ngIf="imgURL">
                <img [src]="imgURL" height="250" width="250"/>
            </div>
            <p class="imageblockbreak"></p>
                </div>
     <div class="row">
         <div class="col-sm-6 col-sm-offset-3">
         <p><button class="btn btn-primary" type="submit" *ngIf="_id != undefined">Update product</button> 
            <button class="btn btn-danger" type="button" (click)="resetDefault()">Reset to deafult</button> 
             </p>
         </div>
         </div>
    </div>
    </form>
   <!--create a modal using ng-template directive -->


