<h2>Welcome to {{title}}</h2>
<form [formGroup]="myForm"  novalidate (ngSubmit)="onSubmit()">
    <div class="container">
     
     <div class="row">
     <div class="col-sm-6 col-sm-offset-3">
     <p><input formControlName="name" id=”name” placeholder="Username"></p>
     </div>
     </div>
     <div class="row">
     <div class="col-sm-6 col-sm-offset-3">
     <p><input type='password' formControlName="password" id=”password” placeholder="Password"></p>
     </div>
     </div>
   
  
     <div class="row">
         
     <div class="col-sm-6 col-sm-offset-3">
     <p><button class="btn btn-primary" type="submit" >Login</button> </p>
     </div>
     </div>
    </div>
    </form>
    <p><a routerLink="/register" routerLinkActive="active">Register here!</a></p>
    <p><a routerLink="/forgotpassword" routerLinkActive="active">Forgot Password</a></p>