<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
    <h1>
    Sign-up Page
    </h1>
   </div>
   <form [formGroup]="myForm"  novalidate (ngSubmit)="onSubmit()">
   <div class="container">
    <div class="row">
        <div *ngIf="myForm.invalid" class ="col-sm-6 col-sm-offset-3">
       <p *ngIf="myForm.controls.name.dirty &&
        myForm.controls.name.hasError('required')">
       * Name is required!
       </p>
       <p *ngIf="myForm.controls.email.dirty &&
        myForm.controls.email.hasError('required')">
        * Email is required!
       </p>
       <p *ngIf="myForm.controls.email.dirty &&
        myForm.controls.email.hasError('email')">
       * Email is invalid!
       </p>
       <p *ngIf="myForm.controls.pwSet.controls.password.dirty &&
       myForm.controls.pwSet.controls.password.hasError('required')">
       * Password is required!
       </p>
       <p *ngIf="myForm.controls.pwSet.controls.password.dirty &&
       myForm.controls.pwSet.controls.password.hasError('minlength')">
       * Password must have a minimum of 8 characters!
       </p>
       <p *ngIf="myForm.controls.pwSet.hasError('notmatch')">
       * Password does not match!
        </p>
        </div>
       </div>
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <p><input formControlName="name" id=”name” placeholder="Your name"></p>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <p><input formControlName="email" id=”email” placeholder="Your
   email"></p>
    </div>
    </div>
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3" formGroupName="pwSet" >
    <p><input formControlName="password" id=”password” type="password"
   placeholder="Your password"></p>
    </div>
    </div>
    <div formGroupName="pwSet" class="row">
        <div class="col-sm-6 col-sm-offset-3">
        <p><input formControlName="password2" id = "password2" type="password"
        placeholder="Re-type your password"></p>
         </div>
        </div>
    <div class="row">
        <div class ="col-sm-6 col-sm-offset-3">
            <!-- To disable the register button depending on the agreed Boolean
value  -->
       <p><input type ="checkbox" id="tnc"
       (click)="toggleAgree()"/> I agree to the <a href=""
       (click)="open(content)">terms and conditions</a>.</p>
        </div>
       </div>
    <div class="row">
    <div class="col-sm-6 col-sm-offset-3">
    <p><button class="btn btn-primary" type="submit"    [disabled]="!(agreed
        && myForm.valid)" >Register</button> </p>
    </div>
    </div>
   </div>
   </form>
   <!--create a modal using ng-template directive -->
<ng-template #content let-modal>
    <div class="modal-header">
    <h4 class="modal-title" id="modal-basic-title">Terms and Conditions</h4>
    <button type="button" class="close" aria-label="Close"
   (click)="modal.dismiss('Cross click')">
    <span aria-hidden="true">&times;</span>
    </button>
    </div>
    <div class="modal-body">
    <p> Your Terms and Condition statement here </p>
    </div>
    <div class="modal-footer">
    <button type="button" class="btn btn-outline-dark"
   (click)="modal.close('Save click')">Close</button>
    </div>
   </ng-template>
