<h2>Welcome to {{title}}</h2>


   <router-outlet></router-outlet>
     <div class="container">
      
         <div  class="row" >
            <input  type="search" id="form1" class="form-control" placeholder="search"  (keyup)="onKey($event)"/>
            
            <div *ngFor = "let carPart of product">
         <div class="col-12" style="background-color:lavender;"  >
            <h2> {{carPart.name | uppercase}} </h2>
            <img src ={{carPart.image}} height="250" width="350" />
            <p> {{carPart.price| currency:'SGD'}} </p>
            <button class="btn btn-primary"  [routerLink]="['/details', carPart._id]">Check product</button>
           
   </div>
</div>
   </div>
</div>
